div.bannerContainer {
    width: 80vw;
    height: 50vh;
    margin-top: 1%;
    border-radius: 6px;
    position: relative;
}

.aniBanner {
    border-radius: 4px;
    height: 80vh;
    /* border: 2px solid white; */
    margin-bottom: 4%;
}

.banner_image {
    width: 100%;
    height: 45vh;
    border-radius: 6px;
}

.description {
    opacity: 90%;
    font-size: 1vw;
    width: 30vw;
    height: 8vh;
}

div.textContainer {
    position: absolute;
    bottom: 6vh;
    right: 2vw;
    color: white;
    font-size: 0.8vw;
    margin: 0 0 2% 1%;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;

}

.textContainer h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3vw;
}

.aniText {
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin-left: 3%;
    height: 40vh;
    overflow: hidden;
    text-overflow: ellipsis;
    /* border: 2px solid yellow; */
    position: absolute;
}

.aniText h2 {
    margin-top: 2%;
    font-size: 1.5vw;
}

.genreContainer {
    opacity: 30%;
    margin: 1% 0;
}

.genreContainer a {
    margin-right: 0.5%;
}

.aniOverlay {
    background-image: linear-gradient(90deg, rgb(23, 23, 23) 0px, rgba(32, 33, 37, 0.6) 10%, rgba(32, 33, 37, 0) 60%, rgba(32, 33, 37, 0) 80%, rgb(23, 23, 23) 100%);
    width: 100%;
    height: 51.5%;
    position: absolute;
    top: 1vh;
}

 .aniBanner h3 {
    border-bottom: 2px solid red;
    width: 5.8vw;
    margin-bottom: 1%;
}


@media (max-width: 480px) {
    div.bannerContainer {
        width: 90vw;
        height: 30vh;
        margin-top: 5%;
    }

    div.textContainer {
        position: absolute;
        bottom: 20px;
        left: 16px;
        color: white;
        font-size: 0.8vw;
    }
    
    .banner_image {
        height: 39.5vh
    }

    .aniText {
        margin-left: 5%;
    }

    .aniText h2 {
        margin-top: 7%;
        font-size: 4.5vw;
        font-weight: bold;
    }

    .genreContainer {
        margin: 2% 0;
        opacity: 30%;
    }

    .genreContainer a {
        margin-right: 1.5%;
    }

    .aniOverlay {
        height: 49%;
    }

    .aniBanner h3 {
        width: 23vw;
        font-size: 4.2vw;
        margin-bottom: 2%;
    }
}