
div.aspect7 {
    position: relative; 
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    height: 50vh;
    width: 15vw
}

.cardIMG {
    border-radius: 3px;
}

p.category {
    font-size: 1.6vw;
    color: white;
    margin: 3% 2% 1% 2%;
}

div.bannerContainer {
    width: 90vw;
    height: 40vh;
    border: 2px solid white;
    margin-top: 1%;
    border-radius: 4px;
    position: relative;
}

.banner_image {
    width: 100%;
    height: 39.5vh;
    border-radius: 2px;
    opacity: 60%;
}

div.textContainer {
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: white;
    font-size: 0.8vw;
    margin: 0 0 2% 1%;
}

.textContainer h2{
    font-size: 3vw;
    margin-bottom: 1%;
}

.cardTitle {
    position: absolute;
    bottom: 20px;
    left: 12px;
    overflow-wrap: normal;
}

.cardTitle p {
    font-size: 1.3vw;
}

@media (max-width: 480px) {
    div.aspect7 {
        height: 30vh;
        width: 30vw;
    }

    p.category {
        font-size: 4vw;
        margin: 8% 2% 1% 4%;
    }

    div.bannerContainer {
        width: 85vw;
        height: 25vh;
        margin-top: 5%;
    }

    div.textContainer {
        position: absolute;
        bottom: 20px;
        left: 16px;
        color: white;
        font-size: 0.8vw;
        margin: 0 0 2% 1%;
    }

    .banner_image {
        height: 24.2vh
    }

    .cardTitle {
        bottom: 5px;
        left: 9px;
    }

    .cardTitle p {
        font-size: 2.7vw;
    }
}