
div.aspect7 {
    position: relative; 
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    height: 50vh;
    width: 15vw
}

p.category {
    font-size: 1.6vw;
    color: white;
    margin: 3% 2% 1% 2%;
}

div.bannerContainer {
    width: 95vw;
    height: 50vh;
    border: 3px solid #d5dbdb;
    border-radius: 2px;
    position: relative;
}

.banner_image {
    width: 100%;
    height: 49vh;
    opacity: 60%;
}

div.textContainer {
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: white;
    font-size: 0.8vw;
    margin: 0 0 2% 1%;
}

.textContainer h2{
    font-size: 3vw;
    margin-bottom: 1%;
}

@media (max-width: 480px) {
    div.aspect7 {
        height: 30vh;
        width: 30vw;
    }

    p.category {
        font-size: 4vw;
        margin: 8% 2% 1% 4%;
    }

    div.bannerContainer {
        width: 85vw;
        height: 25vh;
        margin-top: 5%;
    }

    .banner_image {
        height: 24.2vh
    }
}